* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222831;
}

.container {
    background-color: #393E46;
    max-width: 40.625rem;
    width: 100%;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 10px 25px black;
}

.input-container {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 12px 20px;
    background-color: #00ADB5;
    color: #EEEEEE;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.result-container {
    display: none;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.result-box {
    flex: 1;
    background-color: #00ADB5;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
}

#shortLink {
    color: #EEEEEE;
    font-weight: bold;
    text-decoration: none;
}